.fade-enter {
  transform: translateY(-30%);
  opacity: 0;
}


.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 300ms ease-in-out,opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translateY(-30%);
  transition: transform 300ms ease-in-out,opacity 300ms ease-in-out;
}

